$secondaryLight = #ff7961
$secondaryMain = #f44336
$secondaryDark = #ba000d

$primaryLight = #757ce8
$primaryMain = #3f50b5
$primaryDark = #002884

$grey = #f4f7f9
$whiteTrans = rgba(255, 255, 255, 0.6)
$greyDark = #e1e9ef
