body
  #logo
    background-color #fff
    &:hover
      background-color #eee
    #logoIcon
      background-color #f00
      color #fff

  a
    text-decoration none

  button
    a
      color #fff

  footer
    text-align center
