@require "./colors"

body
  font-family: Roboto, Arial, Helvetica, sans-serif
  font-size: 14px
  color: rgba(0, 0, 0, 0.87)

  #logo
    background-color #fff
    &:hover
      background-color #eee
    #logoIcon
      background-color $secondaryMain
      color #fff


  a
    text-decoration none

  button
    a
      color #fff

  footer
    text-align center
